h1 {
    font-size: 40px;
    color: #000;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
}

button {
    font-size: 20px;
    padding: 4px 20px;
    display: block;
    margin: 0 auto;
    transition: all 0.2s ease;
    cursor: pointer;
}

button:hover {
    letter-spacing: 0.3em;
}