h1 {
    font-size: 40px;
    color: #000;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
}

button {
    border: none;
    background: blue;
    color: #fff;
    font-size: 20px;
    padding: 6px 30px;
    display: block;
    margin: 0 auto;
    transition: all 0.2s ease;
    cursor: pointer;
}

button:hover {
    letter-spacing: 0.3em;
}

p {
    text-align: center;
    padding: 0 10% 20px;
    color: grey;
}

img {
    width: 60px;
    height: 60px;
    display: block;
    margin: 40px auto;
}
